.footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 1.5rem;
  justify-content: start;
  padding: 20px 20px 10px;

  .footer__text {
    font-size: large;
    text-align: right;
    color: black;
    font-style: italic;
  }
}


@media screen and (min-width: 768px) {
  .footer {
    font-size: 1rem;
    grid-template-columns: 1fr 2fr;
    padding: 40px 40px 10px;
  }
}
