.gallery {
  .gallery__list {
    justify-content: space-evenly;

    .gallery__item  {
      margin-bottom: 20px;

      .item__img--rounded {
        border-radius: 12mm;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .gallery__list {
    justify-content: space-between;
  }
}
